body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1a0f2e;
    margin: 0;
    padding: 0;
    color: white;
}

header{
    background-color:#5a189a;
    color: white;
    text-align: center;
    padding: 20px;
}
a{
    color:gold;
}
.menu-principal{
    background-color: #5a189a;
    padding: 10px;
}
.menu-principal ul{
     list-style: none;
    padding: 0;
}
.menu-principal li {
    display: inline;
    margin: 0 15px;
}
.conteiner {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5a189a;
    border-radius: 10px;
}
.personagem {
    background-color: #5a189a;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid gold;
}
.personagem h3 {
    color: gold;
    margin-top: 0;
}
.botao {
    display: inline-block;
    background-color: gold;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.botao:hover {
    background-color: #8b4513;
}
.catalog-link {
    text-align: center;
    margin: 20px 0;
}
footer {
    background-color: #5a189a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}